<div class="container-fluid py-3">
    <h1>Progressive Web Application (PWA)!</h1>
  
    <div style="display:flex; align-items: center; justify-content: center; margin: 50px 10px;">
      <div style="text-align: right; margin-right:10px">
        Status:
      </div>
      <div style="text-align: center">
        <span style="color:green; font-weight: 900;" *ngIf="isOnline">Online</span>
        <span style="color:red; font-weight: 900;" *ngIf="!isOnline">Offline</span>
      </div>
    </div>
  </div>
<ul>
    <h3>List of Employee</h3>
    <li style="margin-bottom: 10px;" *ngFor="let item of apiData">Name: {{item?.name}} <br> email: {{item?.email}}</li>
</ul>

<div style="width:100%; position:absolute; top:0" *ngIf="modalVersion">
  <div class="alert alert-secondary m-2">
    <button type="button" style="position:absolute; top:0; right:0;" aria-label="Close" (click)="closeVersion()"></button>
    A new version of this app is available. <a href="" (click)="updateVersion()">Update now</a>
  </div>
</div>